 <!-- Barrita Chiquita -->
 <div class="DIV000">
        
</div>

<!-- ARRANCA EL HEADER -->
<div class="Header">
    <!-- PRIMERA PARTE DEL HEADER - LBIR -->
    <div class="DIV001">
        <!-- Logo -->
        <a href="/" class="logo"><img class="IMG000" src="/images\LogoKalimba.jpeg" alt="Logo de Kalimba"></a>
        <!-- Buscador -->
        <div class="SDIV001">
                <div class="search">
                    <form action="/product/search" method="post" class="search">
                        <input type="text" class="searchTerm" name="search" placeholder="¿Que buscas?">
                        <button type="submit" class="searchButton">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
        </div>
        <!-- Pregunta si hay un usuario logueado -->
        <% if ( typeof sessionUserID != 'undefined') { %>
            <!-- Mi perfil / Cerrar sesion -->
            <div class="SDIV002">
                <div class="user">
                    <i class="fas fa-user-alt"></i>
                </div>
                <div class="SSDIV000">
                    <a href="/users/profile/<%= sessionUserID %> " class="H000">Mi perfil</a>
                    <a href="/users/logout" class="H000">Log Out</a>
                </div>
                <div class="cart">
                    <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                </div>
            </div>
        <% } else { %>
            <!-- Registrarte / Iniciar Sesion -->
            <div class="SDIV002">
                <div class="user">
                    <i class="fas fa-user-alt"></i>
                </div>
                <div class="SSDIV000">
                    <a href="/users/register" class="H000">Registrame</a>
                    <a href="/users/login" class="H000">Log In</a>
                </div>
                <div class="cart">
                    <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                </div>
            </div>
        <% }  %>
    </div>
    <!-- SEGUNDA PARTE DEL HEADER - CATEGORIAS -->
    <!-- Menu De Categorias -->
    <div class="DIV003">
        <!-- Menu de Mobile -->
        <div class="dropdowncontainer">
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn"><i class="fas fa-bars"></i></button>
                <div id="myDropdown" class="dropdown-content">
                <a href="/products">Productos</a>
                <a href="/nav/ofertas">Ofertas</a>
                <a href="/nav/ayuda">Locales</a>
                <% if (categoryUser == 1) { %>
                    <a href="/nav/admin">Admin</a>
                <% }  else { %>
                    <a href="/nav/ayuda">Ayuda</a>
                <% } %>   
            
                </div>
            </div>
        </div>
        <!-- Menu de Laptop y Tablet -->
        
        <div class="navbarnotmobile">
            <div class="dropdowncontainerProd">
                <div class="dropdownProd">
                    <button onclick="myFunctionProd()" class="dropbtnProd">Productos </button>
                    <div id="myDropdownProd" class="dropdown-contentProd">
                    <% for( let i = 0; i < categorias.length; i++ ) { %>
                        <a href="/products/<%= categorias[i].name %> "><%= categorias[i].name %> </a>
                    <% } %>
                        <a href="/products">Todos</a>
                    </div>
                </div>
            </div>
            <!-- MARCAS -->
            <div class="dropdowncontainerMarc">
                <div class="dropdownMarc">
                    <button onclick="myFunctionMarc()" class="dropbtnMarc">Marcas </button>
                    <div id="myDropdownMarc" class="dropdown-contentMarc">
                        <% for( let i = 0; i < marcas.length; i++ ) { %>
                            <a href="/products/<%= marcas[i].name %> "><%= marcas[i].name %> </a>
                        <% } %>
                
                    </div>
                </div>
            </div>
            <a class="P001" href="/nav/ofertas">Ofertas</a>
            <a class="P001" href="/nav/ayuda/#locales">Locales</a>
            <% if (categoryUser == 1) { %>
                <div class="dropdowncontainerAdmin">
                    <div class="dropdownAdmin">
                        <button onclick="myFunctionAdmin()" class="dropbtnAdmin">Admin </button>
                        <div id="myDropdownAdmin" class="dropdown-contentAdmin">
                            <a class="P001" href="/products">Agregar productos</a>
                            <a class="P001" href="/userList">Listado de usuarios</a>
                            <a class="P001" href="/register">Crear usuario admin</a>
                        </div>
                    </div>
                </div>
            <% }  else { %>
                <a class="P001" href="/nav/ayuda">Ayuda</a>
            <% } %>   
        </div>

        <div class="SDIV0021bis"> 
            <div class="user">
                <i class="fas fa-user-alt"></i>
            </div>
            <div class="SSDIV000bis"><h1 class="H000">Registrame <br> Log In</div>
            <div class="cart">
                <i class="fas fa-shopping-cart"></i>
            </div>
        </div>
        
    </div>
        
        
</div>
<!-- Barrita Chiquita -->
<div class="DIV000">
</div>
<!-- HASTA ACA ES EL HEADER -->


<!-- MAGIA OSCURA DEL MENU COLAPSABLE https://www.w3schools.com/howto/howto_js_dropdown.asp -->
<script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
     // Funcion para el menu colapasable de MOBILE -----------------------------------------------------------------------------------------------------------
    function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
        }
        }
    }
    }
    // Funcion para el menu colapasable de productos -----------------------------------------------------------------------------------------------------------
    function myFunctionProd() {
    document.getElementById("myDropdownProd").classList.toggle("show");
    }

    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function(event) {
    if (!event.target.matches('.dropbtnProd')) {
        var dropdowns = document.getElementsByClassName("dropdown-contentProd");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
        }
        }
    }
    }
    // Funcion para el menu colapasable de Marcas -----------------------------------------------------------------------------------------------------------
    function myFunctionMarc() {
    document.getElementById("myDropdownMarc").classList.toggle("show");
    }

    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function(event) {
    if (!event.target.matches('.dropbtnMarc')) {
        var dropdowns = document.getElementsByClassName("dropdown-contentMarc");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
        }
        }
    }
    }
    // Funcion para el menu colapasable de Admin -----------------------------------------------------------------------------------------------------------
    function myFunctionAdmin() {
    document.getElementById("myDropdownAdmin").classList.toggle("show");
    }

    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function(event) {
    if (!event.target.matches('.dropbtnAdmin')) {
        var dropdowns = document.getElementsByClassName("dropdown-contentAdmin");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
        }
        }
    }
    }
</script>