<!-- Trayendo el head -->
<%- include('partials/head', {title: 'Editando producto'}) %>

<body>

<!-- Trayendo el header -->
<%- include('partials/header') %>

<!-- Form -->
<div class="contenedor-form" >
        <form class="formulario" action="/nav/guiasEdit/<%=guia.id%>?_method=PUT" method="POST" enctype="multipart/form-data">

            <div class="titulo-form" id="t-f"><p class="texto-titulo-form"> Editando guía: <%= guia.title %> 
            </p></div>
            <label class="pregunta" id="p1" for="">Título</label>
            <textarea  class="respuesta" id="r1" name="title" value="<%= guia.title %> "><%= guia.title %></textarea>
    
            <label class="pregunta" id="p1" for="">Primer texto</label>
            <textarea  class="respuesta" id="r1" name="text1" ><%= guia.text1 %> </textarea>
    
            <label class="pregunta" id="p1" for="">Segundo texto</label>
            <textarea  class="respuesta"  id="r1" name= "text2"><%= guia.text2 %></textarea> 
    
            <label class="pregunta" id="p1" for="">Tercer texto</label>
            <textarea  class="respuesta" id="r1" name="text3" ><%= guia.text3 %></textarea>
            
    
    
            <button type="submit" id="fin" class="enter">Finalizar</button>
        </form>
     
    
</div>

<!-- Trayendo el footer -->
<%- include('partials/footer') %>

</body>
</html>