<!-- Trayendo el head -->
<%- include('partials/head', {title: 'Registrarme'}) %>
<body>
    <!-- Trayendo el header -->
    <%- include('partials/header') %>

<!-- Form -->
<div class="contenedor-form">
    <form class="formulario" action="/users/login" method="POST">

        <div class="titulo-form">
            <p class="texto-titulo-form"> Iniciar sesion</p>
        </div>

        <!-- Muestra los errores de la validación -->
        <div class="errors">
            <% if (typeof errors != 'undefined') { %>
                <ul>
                    <% errors.forEach(error => { %>
                        <li>
                            <%= error.msg %> 
                        </li>
                    <% }) %>
                </ul>
            <% } %>
            <% if (typeof mensaje[0] != 'null') { %>
                <p> <%= mensaje %> </p>
            <% } %>  
        </div>

        <label class="pregunta" for="">Email</label>
        <input class="respuesta" type="email" name="email">

        <label class="pregunta" for="">Contraseña</label>
        <input class="respuesta" type="password" name="password">

        <label class="recordarme" for="">Recordarme</label>
        <input class="check" type="checkbox" name="recordarme" id="">

        <button type="submit" class="enter">Entrar</button>
        </form>
    </div>


     

<!-- Termina el form -->
<!-- Trayendo el footer -->
     <%- include('partials/footer') %>
    
</body>
</html>