<!-- Trayendo el head -->
<%- include('partials/head', {title: 'Mi carrito'}) %>
<body>

    <!-- Trayendo el header -->
    <%- include('partials/header') %> 

    <main>
        <section class="carrito-container">
            <div class="titulos">
                <p class="titulo">Precio</p>
                <p class="titulo">Cantidad</p>
                <p class="titulo">Total</p>
            </div>

            <% if (productos[0].prod == undefined) { %>
                <% productos.forEach(producto => { %>
                    <div class="productos">
                        <div class="prod-resumen">
                            <p class="prod-name"><%= producto.name %> </p>
                            <div class="foto-container"><img src="./images/<%= producto.image %> " alt="foto"></div>
                           
                            <div class="caracteristicas">          
                                <p><strong> Marca: </strong><%= producto.brands.name %>  </p>
                                <p><strong> Color: </strong><%= producto.description %>  </p>
                                <p class="cant-mobile">Cantidad</p>
                                <p class="cant-mobile precio">$<%= numberWithCommas(producto.categoriesId) %> </p>
                            </div>
                        </div>
        
                        <p class="cant"><%= producto.categoriesId %> </p>
        
                        <div class="final">
                            <p class="total-prod">$<%= numberWithCommas(((producto.price - (producto.price * (producto.discount/100))) * producto.categoriesId)) %> </p>
                            <form action="/product/deleteCart/<%= producto.id %> " method="post">
                                <button type="submit" class="quitar">Quitar</button>
                            </form>
                        </div>
                        
                    </div>
                <% }) %>
            <% } else { %>
                <% productos.forEach(producto => { %>
                    <% if (producto.prod.name.includes('No hay productos')) { %>
                        <div class="productos">
                            <div class="prod-resumen">
                                <p class="prod-name"><%= producto.prod.name %> <i class="far fa-sad-cry"></i></p>
                                <a href="http:/products">  Ver productos</a>
                            </div>
                        </div>
                    <% } else {%>
                        <div class="productos">
                            <div class="prod-resumen">
                                <p class="prod-name"><%= producto.prod.name %> </p>
                                <div class="foto-container"><img src="./images/<%= producto.prod.image %> " alt="foto"></div>
                            
                                <div class="caracteristicas">          
                                    <p><strong> Marca: </strong><%= producto.prod.brands.name %>  </p>
                                    <p><strong> Color: </strong><%= producto.colors %>  </p>
                                    <p class="cant-mobile">Cantidad</p>
                                    <p class="cant-mobile precio">$<%= numberWithCommas(producto.cantidad) %> </p>
                                </div>
                            </div>
            
                            <p class="cant"><%= producto.cantidad %> </p>
            
                            <div class="final">
                                <p class="total-prod">$<%= numberWithCommas(((producto.prod.price - (producto.prod.price * (producto.prod.discount/100))) * producto.cantidad)) %> </p>
                                <form action="/product/deleteCart/<%= producto.prod.id %> " method="post">
                                    <button type="submit" class="quitar">Quitar</button>
                                </form>
                            </div>
                            
                        </div>
                    <% } %> 
                <% }) %>
            <% } %>
            
            <div class="total">
                <p>Total:</p>
                <p>$<%= numberWithCommas(total) %> </p>
            </div>
            <form action="/products/buy" method="get">
                <button type="submit" class="comprar">Iniciar compra</button>
            </form>
        </section>

        <!-- Trayendo los productos destacados -->
        <%- include('partials/productosDestacados') %> 
        
    </main>

   <!-- Trayendo el footer -->
   <%- include('partials/footer') %> 

    <!-- Fin de la View -->
    
</body>
</html>