<!-- Trayendo el head -->
<%- include('partials/head', {title: 'Editando producto'}) %>

<body>

<!-- Trayendo el header -->
<%- include('partials/header') %>

<!-- Form -->
<div class="contenedor-form" >
    <form class="formulario" action="/product/<%=productoAEditar.id%>?_method=PUT" method="POST" enctype="multipart/form-data">

        <div class="titulo-form"><p class="texto-titulo-form"> Editando producto <%= productoAEditar.name %> 
        </p></div>


        <label class="pregunta" for="">Nombre</label>
        <input  class="respuesta" type="text" name="name" value="<%= productoAEditar.name %> ">

        <label class="pregunta" for="">Precio</label>
        <input class="respuesta" type="text" name="price" value="<%= productoAEditar.price %> ">

        <label class="pregunta" for="">Descuento</label>
        <input class="respuesta" type="text" name="discount" value="<%= productoAEditar.discount %> ">

        <label class="pregunta" for="">Descripción</label>
        <textarea class="respuesta" name="description" id="" cols="10" rows="3" > <%= productoAEditar.description %> </textarea>

        <label class="pregunta" for="">Marca</label>
        <select name="brandsId" id="" class="respuesta">
            <% for( let i = 0; i < marcas.length; i++ ) { %>
                <% if (marcas[i].id==productoAEditar.brands.id) { %>
                    <option value="<%= marcas[i].id %>" selected><%= marcas[i].name %> </option>
                    <% } else { %>
                    <option value="<%= marcas[i].id %>"><%= marcas[i].name %> </option>
                <% } %>
            <% } %>
        </select>

        <label class="pregunta" for="">Categoría</label>
        <select class="respuesta" name="categoriesId" id="">
            <% for( let index = 0; index < categorias.length; index++ ) { %>
                <% if (categorias[index].id == productoAEditar.categories.id) { %>
                    <option value="<%= productoAEditar.categories.id %> " selected><%= productoAEditar.categories.name %> </option>
                <% } else { %>
                    <option value="<%= categorias[index].id %> " ><%= categorias[index].name %> </option>
                <% } %>
            <% } %>    
        </select>

        <label class="pregunta" for="">Subcategoria</label>
        <select name="subcategoriesId" id="" class="respuesta">
            <% for( let i = 0; i < subcategorias.length; i++ ) { %>
                <% if (subcategorias[i].id==productoAEditar.subcategories.id) { %>
                    <option value="<%= subcategorias[i].id %>" selected><%= subcategorias[i].name %> </option>
                    <% } else { %>
                    <option value="<%= subcategorias[i].id %>"><%= subcategorias[i].name %> </option>
                <% } %>
            <% } %>
        </select>

        <label class="pregunta" for="">Tipo</label>
        <select name="typesId" id="" class="respuesta">
            <% for( let i = 0; i < tipos.length; i++ ) { %>
                <% if (tipos[i].id==productoAEditar.types.id) { %>
                    <option value="<%= tipos[i].id %>" selected><%= tipos[i].name %> </option>
                    <% } else { %>
                    <option value="<%= tipos[i].id %>"><%= tipos[i].name %> </option>
                <% } %>
            <% } %>
        </select>

        <label class="pregunta" for="">Imagen del producto</label>
        <input class="respuesta" type="file" name="image" value="<%= productoAEditar.image %> ">

        <label class="pregunta" for="">Colores disponibles</label>
        <select name="coloresDisponibles" id="" class="respuesta" multiple>
            <!-- Choclo muy complicado para hacer el selected de colores -- LO VAMOS A MEJORAR -->
            <% var coloresNoSeleccionadosSinDuplicados = [] %> 
            <% var coloresNoSeleccionados= [] %>
            <% var coloresSeleccionados= [] %>           
            
            <% if (typeof productoAEditar.colors.name == "string") { %>
                <option value="<%= productoAEditar.colors.name %> " selected><%= productoAEditar.colors.name %> </option>
                <% coloresSeleccionados.push(productoAEditar.colors.name)  %> 
            <% } else { %>
                <% for( let j = 0; j < productoAEditar.colors.length; j++ ) { %>
                        <option value="<%= productoAEditar.colors[j].id %>" selected ><%= productoAEditar.colors[j].name %> </option> 
                        <% coloresSeleccionados.push(productoAEditar.colors[j].name) %> 
                <% } %>
            <% } %>

            <% for( let i = 0; i < coloresSeleccionados.length; i++ ) { %>
                <% for( let j = 0; j < colores.length; j++ ) { %>
                    <% if (coloresSeleccionados.includes(colores[j].name) == false) { %>
                        <%  coloresNoSeleccionados.push(colores[j]) %>  
                        <%  coloresNoSeleccionadosSinDuplicados = [...new Set(coloresNoSeleccionados)] || [] %> 
                    <% } %>
                <% } %>
            <% } %>
            <% for( let index = 0; index < coloresNoSeleccionadosSinDuplicados.length; index++ ) { %>
                <option value="<%= coloresNoSeleccionadosSinDuplicados[index].id %>"><%= coloresNoSeleccionadosSinDuplicados[index].name %> </option>
            <% } %>   
        </select> 

        <label class="pregunta" for="">Stock</label>
        <select class="respuesta" name="stock" id="">
            <% if (productoAEditar.stock == 1) { %>
                <option value="1" selected>Sí</option>
                <option value="0">No</option>
                <% } else { %>
                <option value="1" >Sí</option>
                <option value="0" selected>No</option>
            <% } %>
        </select>

        <button type="submit" class="enter">Finalizar</button>
    </form>
</div>

<!-- Trayendo el footer -->
<%- include('partials/footer') %>

</body>
</html>