    <!-- Trayendo el head -->
    <%- include('partials/head', {title: 'Nombre del producto'}) %>
<body>

    <!-- Trayendo el header -->
    <%- include('partials/header') %> 

    <main>
        <!-- Container del producto -->
        <div class="flex-container">
            <!-- Fotos del costado -->
            <section class="margen-izq">

                <img src="/images/<%=producto.image %> " alt="foto" class="foto">
                <img src="/images/<%=producto.image %> " alt="foto" class="foto">
                <img src="/images/<%=producto.image %> " alt="foto" class="foto">
                <img src="/images/<%=producto.image %> " alt="foto" class="foto">

            </section>
            <!-- Foto principal -->
            <section class= "middle">

                <img src="/images/<%=producto.image %> " alt="foto" class="foto-principal">
                <!-- Descripción para mobile -->
                <p class="description-foto">
                    <%= producto.description %> 
                </p>

            </section>
            <!-- Detalles -->
            <section class="margen-der">

                <div class="texto">

                    <h1 class="nombre">
                        <%= producto.name %> 
                    </h1>

                    <p class="description">
                        
                            <%= producto.description %> 
                        
                        
                    </p>

                    <div class="price">

                        <p class="precio">
                            <%= producto.price %> 
                        </p>
    
                        <p class="descuento">
                            <%= producto.discount %> % OFF 
                        </p>

                    </div>
                    
                    <section class="colores">
                        <p class="colour">Color:</p>
                        <div class="opciones">
                            <div class="rojo">R</div>
                            <div class="negro">N</div>
                            <div class="madera">M</div>
                            <div class="blanco">B</div>
                            <div class="azul">A</div>
                        </div>
                    </section>

                </div>
                <% var urlEdit = "/product/" + producto.id + "/edit" %> 
                <button type="submit" class="boton-comprar">
                    Añadir a mi carrito
                </button>
                <form action="/product/delete/<%= producto.id %>?_method=delete" method="POST" >
                    <button type="submit" class="boton">Eliminar </button>
                </form>
                
                    <a href="<%= urlEdit %> ">Editar </a>
               
                
                
            </section>

        </div>

        <!-- Productos Destacados - Traído del Index-->
        <h1 class="P002">Productos Destacados</h1>
        <div class="ProductosDestacados">
            
            <div class="SDIV006">
                <div class="SSDIV001">
                    <img class="IMG002" src="/images/piano.jpg" alt="">
                    <p class="P003">Piano Yamaha 12.50$</p> 
                </div>
            </div>
            <div class="SDIV006">
                <div class="SSDIV001">
                    <img class="IMG002" src="/images/piano.jpg" alt="">
                    <p class="P003">Piano Yamaha 12.50$</p> 
                </div>
            </div>
            <div class="SDIV006">
                <div class="SSDIV001">
                    <img class="IMG002" src="/images/piano.jpg" alt="">
                    <p class="P003">Piano Yamaha 12.50$</p> 
                </div>
            </div>
            <div class="SDIV006">
                <div class="SSDIV001">
                    <img class="IMG002" src="/images/piano.jpg" alt="">
                    <p class="P003">Piano Yamaha 12.50$</p> 
                </div>
            </div>
        </div>
        <!-- Sección de opiniones -->
        <div class="opinions">
            <h1 class="title">
                Opiniones sobre el producto:
            </h1>
            <section class="comentarios-container">
                <div class="opinion-container">
                    <strong class="titulo">Muy bueno</strong>
                    <p class="comentario">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt reprehenderit corporis fugit tenetur ipsa harum nisi quia illo, repellendus delectus!
                    </p>
                </div>
                <div class="opinion-container">
                    <strong class="titulo">Bueno</strong>
                    <p class="comentario">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt reprehenderit corporis fugit tenetur ipsa harum nisi quia illo, repellendus delectus!
                    </p>
                </div>
                <div class="opinion-container">
                    <strong class="titulo">Normal</strong>
                    <p class="comentario">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt reprehenderit corporis fugit tenetur ipsa harum nisi quia illo, repellendus delectus!
                    </p>
                </div>
            </section>

            <section class="corrector">
                <p class="d">d </p>
            </section>

        </div>

    </main>
    
    <!-- Trayendo el footer -->
    <%- include('partials/footer') %> 

    <!-- Fin de la View -->
</body>
</html>