    <!-- Trayendo el head -->
    <%- include('partials/head', {title: 'Nombre del producto'}) %>
<body>

    <!-- Trayendo el header -->
    <%- include('partials/header') %> 

    <main>
        <!-- Container del producto -->
        <div class="flex-container">
            <div class="parte-izq">
                <!-- Fotos del costado -->
                <!-- <section class="margen-izq">


                </section> -->
                <!-- Foto principal -->
                <section class= "middle">

                    <img src="\images\<%= producto.image %> " alt="foto" class="foto-principal">
                    <!-- Detalles para mobile -->
                    <ul class="list-foto">
                        <li>Marca: <%= producto.brand %> </li>
                        <li>Modelo: <%= producto.type %> </li>
                        <li>Tamaño: <%= producto.category %> </li>
                    </ul> 

                </section>
                <!-- Descripción -->
                <section class="abajo">
                    <div class="description">
                        <h1 class="titulo3">Descripción</h1>
                        <p><%= producto.description %> </p>
                    </div>
                </section>
            </div>
            
            <div class="parte-der">
                <!-- Detalles -->
                <section class="margen-der">

                    <div class="texto">

                        <h1 class="nombre">
                            <%= producto.name %> 
                        </h1>

                        <div class="price">
                            <% if (producto.discount !== 0) { %>
                                <p class="precioViejo">
                                    <%= precioViejo %> 
                                </p>

                                <p class="precio">
                                    <%= precioFinal %> 
                                </p>
            
                                <p class="descuento">
                                    <%= producto.discount %>% OFF 
                                </p>
                            <% } %>
                            <% if (producto.discount == "0") { %>
                                <p class="precio">
                                    <%= precioViejo %> 
                                </p>
                            <% } %>

                        </div>

                        <div class="list">
                            <ul >
                                <li><i class="fas fa-shipping-fast camion"></i> Envíos a todo el país </li>
                                <li><i class="fas fa-undo-alt flecha"></i> Devolución gratis por 30 días </li>
                                <li><i class="fas fa-credit-card tarjeta"></i> Consultá medios de pago </li>
                            </ul> 
                        </div>

                        <section class="colores">
                            <p class="colour">Color:</p>
                            <div class="opciones">
                                <% coloresDisp.forEach(color => { %>
                                 <div class="<%= color %> " ></div>
                                <% }) %>
                            </div>
                        </section>
                        <form action="/product/addToCart/<%= producto.id %> " method="post">
                            <button type="submit" class="boton-comprar">
                                Añadir a mi carrito
                            </button>
                        </form>

                    </div>
                    <!-- Si el user es admin - Muestra botones de editar y eliminar -->
                    <% if (categoryUser == 1) { %>
                        <% var urlEdit = "/product/" + producto.id + "/edit" %>  
                        <form action="/product/delete/<%= producto.id %>?_method=delete" method="POST" >
                            <button type="submit" class="boton">Eliminar producto</button>
                        </form>
                        <form action="<%= urlEdit %> " method="get">
                            <button type="submit" class="boton">Editar producto</button>
                        </form>
                    <% } %>
                    
                </section>
                <!-- Descripción mobile -->
                <div class="desc-mobile titulo2">
                    <h1 class="">Descripción</h1>
                    <p> <%= producto.description %> </p>
                </div>
               
                <section class="titulo2">
                    <h1>Medios de pago</h1>
                    
                    <div class="tarjetas">
                        <i class="fab fa-cc-mastercard master"></i>
                        <i class="fab fa-cc-visa visa"></i>
                        <i class="fab fa-cc-paypal pp"></i>
                        <i class="fab fa-cc-amex amex"></i>
                    </div>
                    <div class="divmp">
                        <h1 class="titulomp">Pagá a través de MercadoPago</h1><i class="far fa-handshake mp"></i>
                    </div>
                </section>
                <section class="titulo2">
                    <h1>Formas de entrega</h1>
                    <p class="retiro">Retirá tu compra por cualquiera de nuestros locales</p>
                    <a href="/locales" class="consulta">Ver locales</a>
                    <p class="retiro">Envíos a todo el país por Correo Argentino</p>
                    <a href="/" class="consulta">Consultar costo de envío</a>
                    
                </section>
            </div>
        </div>
        
        


        <!-- Trayendo los productos destacados -->
        <%- include('partials/productosDestacados') %>

        <!-- Sección de opiniones -->
        <div class="opinions">
            <h1 class="title">
                Opiniones sobre el producto:
            </h1>
            <section class="comentarios-container">
                <div class="opinion-container">
                    <strong class="titulo">Muy bueno</strong>
                    <p class="comentario">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt reprehenderit corporis fugit tenetur ipsa harum nisi quia illo, repellendus delectus!
                    </p>
                </div>
                <div class="opinion-container">
                    <strong class="titulo">Bueno</strong>
                    <p class="comentario">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt reprehenderit corporis fugit tenetur ipsa harum nisi quia illo, repellendus delectus!
                    </p>
                </div>
                <div class="opinion-container">
                    <strong class="titulo">Normal</strong>
                    <p class="comentario">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt reprehenderit corporis fugit tenetur ipsa harum nisi quia illo, repellendus delectus!
                    </p>
                </div>
            </section>

            <section class="corrector">
                <p class="d">d </p>
            </section>

        </div>

    </main>
    
    <!-- Trayendo el footer -->
    <%- include('partials/footer') %> 

    <!-- Fin de la View -->
</body>
</html>