<!-- Trayendo el head -->
<%- include('partials/head', {title: 'Cargar producto'}) %>

<body>

<!-- Trayendo el header -->
<%- include('partials/header') %>

<!-- Form -->
<div class="contenedor-form">
    <form class="formulario" action="/product/add" method="POST" enctype="multipart/form-data">

        <div class="titulo-form">
            <p class="texto-titulo-form"> Cargar producto</p>
        </div>

        <label class="pregunta" for="">Nombre</label>
        <input  class="respuesta" type="text" name="name">

        <label class="pregunta" for="">Precio</label>
        <input class="respuesta" type="number" name="price">

        <label class="pregunta" for="">Descuento</label>
        <input class="respuesta" type="number" name="discount">

        <label class="pregunta" for="">Descripción</label>
        <textarea class="respuesta" name="description" id="" cols="10" rows="3" ></textarea>

        <label class="pregunta" for="">Marca</label>
        <select name="brandsId" id="">
            <% brands.forEach(brand => { %>
             <option value="<%= brand.id %>" > <%= brand.name %> </option>
            <% }) %>
        </select>

        <label class="pregunta" for="">Categoría</label>
        <select name="categoriesId" id="">
            <% categories.forEach(category => { %>
             <option value="<%= category.id %>" > <%= category.name %> </option>
            <% }) %>
        </select>

        <label class="pregunta" for="">Subcategoría</label>
        <select name="subcategoriesId" id="">
            <% subcategories.forEach(subcategory => { %>
             <option value="<%= subcategory.id %>" > <%= subcategory.name %> </option>
            <% }) %>
        </select>

        <label class="pregunta" for="">Tipo</label>
        <select name="typesId" id="">
            <% types.forEach(type => { %>
             <option value="<%= type.id %>" > <%= type.name %> </option>
            <% }) %>
        </select>

        <label class="pregunta" for="">Imagen del producto</label>
        <input class="respuesta" type="file" name="image" >

        <label class="pregunta" for="">Colores disponibles</label>
        <select name="colorsId" id="" multiple>
            <% colors.forEach(color => { %>
             <option value="<%= color.id %>" > <%= color.name %> </option>
            <% }) %>
        </select>
    
        <label class="pregunta" for="">Stock</label>
        <select class="respuesta" name="stock" id="">
            <option value="1">Sí</option>
            <option value="0">No</option>
        </select>

        <button type="submit" class="enter">Finalizar</button>
    </form>
</div>

<!-- Trayendo el footer -->
<%- include('partials/footer') %>

</body>
</html>
