<!-- Trayendo el head -->
<%- include('partials/head', {title: 'Cargar producto'}) %>

<body>

<!-- Trayendo el header -->
<%- include('partials/header') %>

<!-- Form -->
<div class="contenedor-form">
    <form class="formulario" action="/product/add" method="POST" enctype="multipart/form-data">

        <div class="titulo-form">
            <p class="texto-titulo-form"> Cargar producto</p>
        </div>
        <div class="container">
            <label class="pregunta" for="">Nombre</label>
            <input  class="respuesta" type="text" name="name">
        </div>
        <div class="container">
            <label class="pregunta" for="">Precio</label>
            <input class="respuesta" type="number" name="price">
        </div>
        
        <div class="container">
            <label class="pregunta" for="">Descuento</label>
            <input class="respuesta" type="number" name="discount">
        </div>

        <div class="container">
            <label class="pregunta" for="">Descripción</label>
            <textarea class="respuesta" name="description" id="" cols="10" rows="3" ></textarea>
        </div>

        <div class="container">
            <label class="pregunta" for="">Marca</label>
            <select name="brandsId" class="respuesta">
                <% brands.forEach(brand => { %>
                <option value="<%= brand.id %>" > <%= brand.name %> </option>
                <% }) %>
            </select>
        </div>
        
        <div class="container">
            <label class="pregunta" for="">Categoría</label>
            <select name="categoriesId" class="respuesta">
                <% categories.forEach(category => { %>
                <option value="<%= category.id %>" > <%= category.name %> </option>
                <% }) %>
            </select>
        </div>
        
        <div class="container">
            <label class="pregunta" for="">Subcategoría</label>
            <select name="subcategoriesId" class="respuesta subcategories">
                <% subcategories.forEach(subcategory => { %>
                    <option value="<%= subcategory.id %>" > <%= subcategory.name %> </option>
                <% }) %>
            </select>
        </div>
        
        <div class="container">
            <label class="pregunta" for="">Tipo</label>
            <select name="typesId" class="respuesta">
                <% types.forEach(type => { %>
                <option value="<%= type.id %>" > <%= type.name %> </option>
                <% }) %>
            </select>
        </div> 
       
        <div class="container">
            <label class="pregunta" for="">Imagen del producto</label>
            <input class="respuesta" type="file" name="image" >
        </div>
        
        <div class="container">
            <label class="pregunta" for="">Colores disponibles</label>
            <select name="colorsId" class="respuesta" multiple>
                <% colors.forEach(color => { %>
                <option value="<%= color.id %>" > <%= color.name %> </option>
                <% }) %>
            </select>
        </div>
        
        <div class="container">
            <label class="pregunta" for="">Stock</label>
            <select class="respuesta" name="stock" id="">
                <option value="1">Sí</option>
                <option value="0">No</option>
            </select>
        </div>

        <button type="submit" class="enter">Finalizar</button>
    </form>
</div>

<!-- Trayendo el footer -->
<%- include('partials/footer') %>

</body>
</html>
