<!-- Trayendo el head -->
<%- include('partials/head', {title: 'Mi perfil'}) %>
<body>
    <!-- Trayendo el header -->
    <%- include('partials/header') %>

    <section class="contenedor-gral">
        <!-- zona izq -->
        <div class="cont-info">
            <div class="cont-foto">
                <img class="foto" src="/avatars/<%=user.image%>">
            </div>
        </div>
        <!-- zona der -->
        <div class="cont-info2">
            <div class="cont-nombre">
                <p class="nombre"> <%= user.firstName %> <%= user.lastName %> </p>
            </div>
            <div class="cont-mail cont-data">
                <p class="preg">Mail: </p><p class="resp"> <%= user.email %></p>
            </div>
            <div class="cont-tel cont-data">
                <p class="preg">Teléfono: </p><p class="resp"> <%= user.tel %> </p>
            </div>
            <div class="cont-fecha cont-data">
                <p class="preg">Fecha de nacimiento: </p><p class="resp"> <%= user.birthDate %></p>
            </div>
            <form class="cont-boton" action="/users/edit/<%= user.id %>" method="GET">
                <button type="submit" class="boton">Editar perfil</button>
            </form>
        </div>
    </section>
    
</body>

<!-- Trayendo el footer -->
<%- include('partials/footer') %>