<!-- Trayendo el head -->
    <%- include('partials/head') %> 

<body>
    
    <!-- Trayendo el header -->
    <%- include('partials/header') %> 

    <div class="DIV010">
            <div class="h-container">
                <h2> Buscando: <%= busqueda %>  </h2>
            </div>
            <% result.forEach(product => { %>
                <a class="A010" href="/productDetail/<%= product.id %> ">
                    <div class="SDIV010">
                        <img class="IMG010" src="/images/<%= product.image %> " alt="">
                        <div class="p-container">
                            <div class="p-container">
                                <p class="P010" id="P010"> <%= product.name %> </p>
                            </div>
                            <div class="p-container2">
                                <p class="P010">$<%= numberWithCommas(product.price) %> </p>
                                <% if (product.discount !== "0") { %>
                                    <p class="P011"><%= product.discount %>% OFF </p>
                                <% } %>
                            </div>
                            
                        </div>
                    </div>
                </a>
            <% }) %>   
    </div>
    <%- include('partials/footer') %> 
</body>