<%- include('partials/head', {title: 'Nombre del producto'}) %>
<body>
    <!-- Trayendo el header -->
    <%- include('partials/header') %> 
    <div class="DIV020 top">
        <p class="P020 left">Id</p><p class="P020 center">Nombre y Mail</p><p class="P020 right">Acciones</p>
    </div>
    <div class="Parent020">
        <% for( let i = 0; i < usuarios.length; i++ ) { %>
            <div class="DIV020">
                <p class="P020 left"><%= usuarios[i].id %> </p><p class="P020 center"> <%= usuarios[i].first_name %> <%= usuarios[i].last_name %>  <br> <%= usuarios[i].email %></p><p class="P020 right"><a href=" ">Editar</a> <br><a href="">Eliminar</a></p>
            </div>
        <% } %>
    </div>
   
    <!-- Trayendo el Footer -->
    <%- include('partials/footer') %> 

    <!-- Fin de la View -->
</body>
</html>